
@media only screen and (max-width: 959px) 
{
	.menu-wrapper
	{
		max-width: 720px;
	}
	#main-menu nav ul li a
	{
		padding-left: 10px;
		padding-right: 10px;	
	}
	#subscriberEmail
	{
		width: 250px;	
	}
	#subscribeButton
	{
		width: 75px;	
	}
	.services-content
	{
		float: left;
		margin-bottom: 30px;
		margin-top: 30px;
		width: 100%;	
	}
	.services-content > ul 
	{
		padding-left: 0;
	}
	ul.services-list li 
	{
		margin-bottom: 0px;	
	}
	.home .list_carousel
	{
		width: 380px;
	}
	a#home-next
	{
		margin-left: 20px;
	}
	.testimonials, .name  
	{
		width: 100%;
	}
	ul#about-bill-slides li, ul#about-larry-slides li,  ul#about-bob-slides li, ul#about-diane-slides li, ul#about-elaine-slides li
	{
		height: auto;
		padding-bottom: 15px;
	}
	/*.about .list_carousel img
	{
		width: 100%;
		height: auto;
		position: relative;
		bottom: -21px;
	}*/
	span.span-testimonials
	{
		margin: 0px;	
		padding-left: 20px;
	}
	span.span-signature
	{
		padding-left: 40px;
	}
	.name
	{
		text-align: left;
		padding: 0;	
	}
	span.span-name
	{
		padding-left: 20px;
	}
	.milestones-wrapper
	{
		width: 100px;	
	}
	ul.milestones-list img
	{
		float: none;	
	}
	span.span-number
	{
		float: left;
		font-size: 64px;
		line-height: 70px;
	}
	.portfolio .one-half
	{
		width: 450px;	
	}
	ul.gallery li.item {
		width: 180px;
		height: 135px;
	}
	.portfolio-wrapper
	{
		font-size: 14px;
		line-height: 20px;	
	}
	.portfolio-quote
	{
		width: 30px;
		height: 21px;	
	}
	.portfolio-signature
	{
		font-size: 11px;
		line-height: 11px;
	}
	.modal
	{
		width: 720px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) 
{
	.modal
	{
		width: 576px;
	}
}

@media only screen and (max-width: 767px) 
{
	.list_carousel 
	{
		width: 280px;
		margin: 0 auto;
	}
	.home .list_carousel, .news .list_carousel
	{
		width: 100%;
	}
	.home .list_carousel{
		height: 140px;
	}
	.home .caroufredsel_wrapper {
		height: 140px !important;
	}
	.about .list_carousel {
	    width: 325px;
    }
	.carousel-nav 
	{
		width: 140px;
		float: left;
		margin-bottom: 30px;	
	}
	.testimonials-nav
	{
		width: 300px;	
		margin: 0 auto;
	}
	.testimonials
	{
		float: left;
		width: 160px;
	}
	ul#about-left-slides li, ul#about-middle-slides li, ul#about-right-slides li 
	{
		height: 300px;
	}
	/*.about .list_carousel img
	{
		max-width: 280px;
		height: auto;
	}*/
	.name-nav
	{
		width: 280px;
		margin: 0 auto;
	}
	.name
	{
		float: left;
		width: 140px;
		text-align: center;
		line-height: 30px;
	}
	span.span-name
	{
		padding: 0px;	
	}
	#subscriberEmail
	{
		width: 330px;	
	}
	#subscribeButton
	{
		width: 70px;
	}
	ul.gallery li.item {
		float: none;
		width: 240px;
		height: 180px;
		margin: 0 auto;	
	}
	.item-overlay {
	    display: none;
    }
	.portfolio-wrapper
	{
		font-size: 18px;
		line-height: 25px;
	}
	.portfolio-quote
	{
		width: 42px;
		height: 29px;	
	}
	.portfolio-signature
	{
		font-size: 14px;
		line-height: 25px;
	}
	a.popup-close
	{
		display: none;
	}
	.portfolio .one-half
	{
		width: 100%;
	}
	.news .one-third
	{
		margin-bottom: 30px !important;	
	}
	.milestones-wrapper
	{
		width: 100%;
	}
	ul.milestones-list img
	{
		float: left;	
	}
	span.span-number
	{
		float: none;
		font-size: 100px;
		line-height: 100px;
	}
	span.span-milestones
	{
		width: 100%;
	}
	ul.milestones-list li        
	{
		margin-bottom: 30px;
	}
	article .article-content 
	{
		padding-left: 25px;
		padding-right: 25px;	
	}
	article .article-content h1
	{
		width: 100%;
	}
	.map
	{
		height: 240px !important;	
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
	.modal
	{
		width: 420px;
	}
}

@media only screen and (max-width: 479px) 
{
    h1 {
	    font-size: 24px;
	    margin-bottom: 15px !important;
    }
    .home .full-logo {
	    top: 85px;
        left: 15%;
    }
    .home .full-logo img {
	    width: 250px;
    }
    .home .caroufredsel_wrapper {
	    width: 270px !important;
    }
    .home .list_carousel{
		padding: 10px;
	}
	ul#home-slides li {
	    font-size: 28px;
	    padding-right: 40px !important;
    }
	#subscriberEmail
	{
		width: 220px;	
	}
	#subscribeButton
	{
		width: 60px;
	}
	.modal
	{
		width: 300px;
	}
	.small-menu-wrapper
	{
		width: 300px;	
	}
	ul.gallery-bios li.item {
	    margin: 1px;
    }
    div.pp_pic_holder {
	    width: 320px !important;
	    overflow: hidden;
    }
    .pp_content {
	    min-height: 320px;
	    height: auto !important;
	    width: 290px !important;
	    overflow: hidden;
    }
    span.about-title {
	    line-height: 18px;
    }
    .inline-text, .inline-bio-text {
	    font-size: 13px;
	    padding: 10px 10px 0;
    }
    .pp_hoverContainer {
	    width: 290px !important;
	    height: 55% !important;
    }
    #fullResImage {
	    max-width: 290px;
	    height: auto !important;
    }
    .pp_details {
	    width: 290px !important;
    }
}