/*#region COMMON */

body
{
	font-family: 'open_sansregular', sans-serif, Arial, Helvetica;
	-webkit-font-smoothing: subpixel-antialiased;
     font-smoothing: subpixel-antialiased;
}
p
{
	margin-bottom: 20px;
	font-family: 'open_sansregular', sans-serif, Arial, Helvetica;
	font-size: 14px;
	letter-spacing: -0.03em;
	line-height: 28px;
	color: #4f6367;
}
.about p, .news p /*.contact p, .contact-form p*/
{
	color: #d9d9d9;
}
a,
a:visited, 
a:hover, 
a:active
{
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
}
.contact-form a, .about a, .inline-bio-text a
{
	color: #2B7CA2;
	border-bottom: 1px dotted #2B7CA2;
	font-family: 'open_sansbold';
}
.contact-form a:hover {
	color: #3B9AC7;
}
.left
{
	float: left;
}
.right
{
	float: right; 
}
.absolute
{
	position: absolute;
}
.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;	
}
.doc-loader td 
{   
    background-color: #1c2224;
    text-align: center;
    vertical-align: middle;
}
.doc-loader p {
	font-size: 24px;
	color: #8B999D;
	font-family: 'open_sansitalic';
	line-height: 50px;
	text-transform: uppercase;
}
.services
{
	padding-bottom: 35px;
}
.about
{
	padding-bottom: 90px;
	background-color: #1c2224;
}
.subscribe
{
	background-color: #232b2d;
	padding-bottom: 40px;
}
.portfolio
{
	padding-bottom: 200px;
}
.news
{
	padding-bottom: 110px;
	background-color: #1c2224;
}
.milestones
{
	padding-bottom: 70px;
}
.contact
{
	/*background-color: #1c2224;
	box-shadow: 0 -10px 50px white;
	-webkit-box-shadow: 0 -10px 50px white;*/
}
.contact-form
{
	padding: 100px 0;
	background: url('../images/contact-background.jpg') no-repeat 80% 0%;
    background-size: cover;
    border-top: 10px solid #DDE8EA;
	/*background-color: #1c2224;*/
}
.login-page {
	background-color: #1C2224;
	padding-bottom: 40px;
	color: #8B999D;
}
footer
{
	height: 185px; 
	background-color: #252e30;
}

/*#endregion*/


/*#region FONT FORMATTING */

::selection {
	color:#ebebeb;
	background: #ad1a8c
}
::-moz-selection {
	color:#ebebeb;
	background: #ad1a8c
}
h1
{
	font-size: 28px;
	line-height: 32px;
	color: #2B7CA2;
	font-family: 'open_sansbold';
}
h2
{
	padding-left: 15px;
	padding-top: 0px;
	font-size: 22px;
	line-height: 24px;
	font-family: 'open_sansbold';
	letter-spacing: -0.03;
	color: #c0db89;
	border-left: 10px solid #2b7ca2;
}
h3
{
	font-size: 24px;
	color: #c0db89;
}
.summary-dark-bg
{
	padding-bottom: 30px;
	font-size: 34px;
	line-height: 34px;
	font-family: 'open_sanslight';
	color: #8b999d;
	border-bottom: 10px solid #262f31;
}
.summary-white-bg
{
	padding-bottom: 30px;
	font-size: 34px;
	line-height: 34px;
	font-family: 'open_sanslight'; 
	color: #646b6b;
	border-bottom: 10px solid #dde8ea;	
}
.summary-small-dark-bg
{
	font-size: 28px;
	line-height: 34px;
	font-family: 'open_sanslight'; 
	letter-spacing: -0.03em;
	color: #8b999d;
}
.summary-small-white-bg
{
	color: #656b6b;
	font-size: 28px;
	letter-spacing: -0.03em;
	line-height: 34px;
	font-family: 'open_sanslight'; 
}
span
{
	font-family: 'open_sansbold';
}
span.span-italic{
	font-family: 'open_sansitalic';
}

/*#endregion*/


/*#region HOME */

.home
{
	width: 100%;
	height: 550px;
	background-image: url('../images/top_image.jpg');
	background-color: #646b6b;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.lt-ie9 .home {
    background-image: url('../images/top_image-ie8.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #424848;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/top_image.jpg',sizingMethod='scale')";
}
.home .full-logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.login {
	float: right;
	position: fixed;
	right: -3px;
	top: 5px;
	z-index: 2;
}
.login-btn
{
	display: inline-block;
    float: right;
	height: 63px;
	padding: 0 18px;
	font-size: 15px;
	line-height: 63px;
	text-decoration: none;
	background: #17242A;
	opacity: .85;
	filter:alpha(opacity=85);
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 35px 0 0 35px;
	-webkit-border-radius:border-radius: 30px 0 0 30px;
}
.lt-ie9 .login-btn {
	color: white;
	outline: none;
}
.login-btn .icon-user{
	background: url(../images/icon-user.png) no-repeat;
	background-position: 0 0;
	height: 25px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 7px;
}
.login-btn:hover
{
	color: #89bb22;
}
.login-btn:hover .icon-user
{
	background-position: 0 -25px;
}

/*#endregion*/


/*#region NAVIGATION */

#main-menu
{
	width: 100%;
	height: 70px;
	background-color: #252e30;
	z-index: 999;
	box-shadow: 0 2px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4); 
	position: relative;
}
.menu-wrapper
{
	max-width: 960px;
	margin: 0 auto;
}
#main-menu nav
{
	max-width: 960px;
	height: 70px;
}
#main-menu nav aside
{
	height: 100%;
}
#main-menu nav ul
{
	height: 100%;
}
#main-menu nav ul li
{
	display: inline-block;
	height: 100%;
	font-size: 11px;
	line-height: 70px;
	letter-spacing: 0.1em;
	list-style-type: none;
	text-transform: uppercase;
	float: left;
}
#main-menu nav ul li.first a
{
	padding-left: 0px;
}
#main-menu nav ul li.last a
{
	padding-right: 0px;
	color: #c0db89;
}
#main-menu nav a
{
	display: block;
	padding-left: 18px;
	padding-right: 18px;
	text-decoration: none; 
	position: relative;
}
#main-menu nav ul li.active {
	position: relative;
}
#main-menu nav ul li.active a
{
	color: #89bb22;
	-webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

/* ==== Active link ==== */
#main-menu nav ul li.active:before {
	content: ' ';
	position: absolute;
    width: 100%;
    height: 0;
    border-top: 3px solid #2a7ca2;
}
#main-menu nav ul li.first.active:before {
    left: -16px;
    width: 130%;
}
#main-menu nav ul li.last.active:before {
    width: 115%;
}
#main-menu nav ul li.active a:after {
	content: ' ';
	position: absolute;
    width: 0;
    height: 0;
    left: 38%;
    bottom: -20px;
    border: 10px solid;
    border-color: #252e30 transparent transparent transparent;
}
#main-menu nav ul li.first.active a:after {
	left: 17%;
}
#main-menu nav ul li.last.active a:after {
	left: 50%;
}
/* ====== end Active link ==== */

/* ===== Hover link ===== */
#main-menu nav ul li:hover a:before {
	content: ' ';
	position: absolute;
	left: 0;
    width: 100%;
    height: 0;
    border-top: 3px solid #656b6b;
}
#main-menu nav ul li.first:hover a:before{
	left: -17%;
}
#main-menu nav ul li.last:hover a:before {
	left: 10%;
}
/* ===== end Hover link ==== */

.small-menu-wrapper
{
	width: 420px;
	margin: 0 auto;
}
.small-menu
{
	width: 100%;
	height: 45px;
	margin-top: 12px;
	padding: 7px;
	font-family: 'Open Sans', sans-serif, Arial;
	font-size: 1.0em;
	line-height: 45px;
	text-transform: capitalize;
	color: #3c3c3c;
	border: 0;
	outline: none;	
}
#main-menu .logo
{
	display: inline-block;
	width: 70px;
	height: 70px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0;
}
/*#main-menu ul li.login-link {
	visibility: hidden;
}
.is-sticky #main-menu ul li.login-link, #login-page #main-menu ul li.login-link {
	visibility: visible;
}*/
#main-menu ul li.login-link a {
	background-image: url('../images/icon-user-1.png');
	background-repeat: no-repeat;
	background-position: 0px 25px;
	padding-left: 25px;
}

/* ===== lavaLamp effect ====== */
/*#main-menu nav .lavaLamp {
	position: relative;
	overflow: hidden;
}
#main-menu nav .lavaLamp li.back {
	background: #2a7ca2;
    height: 3px;
    z-index: 8;
    position: absolute;
    display: block;
}*/
/* ===== end lavaLamp effect ==== */

/*#endregion*/


/*#region SERVICES */

.services .network h2 {
	color: #89BB22;
	cursor: pointer;
}
.services .network h2.hover-effect {
	color: #5d7728;
}
ul.services-list li        
{
	clear: both;
	margin-bottom: 40px;
}
.services-wrapper
{
	float: left;
	width: 270px;
}
.services-wrapper-noimg {
	width: 200px;
	float: left;
}
.services-list img
{
	display: block;
	float: left;
	margin-right: 25px;
	width: 75px;
}
.service-title
{
	display: block;          
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #89bb22;
}
.services-content
{
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.03em;
	color: #4f6367;
	width: 50%;
	float: right;
}
.one .services-content {
	width: 76.5%;
}
.services-content > ul {
	padding-left: 55px;
}
.one .services-content > ul, .article-content > ul {
	padding-right: 30px;
	display: inline-block;
	vertical-align: top;
}
.services-content > ul > li {
	font-family: 'open_sanssemibold';
}
.services-role
{
	font-size: 28px;
	line-height: 34px;
	letter-spacing: -0.03em;
	font-family: 'open_sansbold';
	color: #646B6B;
}
.services-line
{
	margin-left: 103px;
	width: 40px;
	border-top: 1px solid #97aeb3;
}
.services-wrapper-noimg .services-line {
	margin-left: 0;
	width: 50%;
}

/*#endregion*/


/*#region ABOUT */

ul.gallery-bios
{
	height: auto;
	padding: 0 15px;
}
ul.gallery-bios li.item 
{
	position: relative;
	float: left; 
	width: 150px;
	height: 150px;
	margin: 5px;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.03em;
	font-family: 'open_sansregular';
	text-align: left; 
	color: #f6f6f6;
	overflow: hidden; 
}
ul.gallery-bios li.item img {
	max-height: 170px;
}
ul.gallery-bios .item-overlay span.about-name {
	display: block;
	padding: 20px 10px 0;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 13px;
} 
ul.gallery-bios .item-overlay a.preview_bio
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/employee.png) center 70% no-repeat;
    z-index: 110;
}
.inline-bio-text {
	font-size: 14px;
	padding: 15px 15px 0 15px;
	line-height: 20px;
	letter-spacing: -0.03em;
	font-family: 'open_sansregular'; 
	text-align: left;
	color: #4F6367;
}
span.about-title {
	display: block;
	font-size: 11px;
	line-height: 34px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #97AEB3;
}
span.bio-hobby {
	font-family: 'open_sansitalic';
	display: block;
	margin-bottom: 15px;
}
.about div h2 {
	border-left: 0;
	padding-left: 0;
}
#jobs a.read-more {
	border: 0;
	display: none;
}
#jobs h2.read-more {
	cursor: pointer;
	color: #89BB22;
	border-left: 10px solid #2b7ca2;
	padding-left: 15px;
}
#jobs h2.read-more.hover-effect {
	color: #5d7728;
}

/*#endregion*/


/*#region SLIDERS */

.list_carousel ul 
{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.list_carousel li 
{	
	display: block;	
	float: left;
	padding: 0;
}
.prev                           
{
	float: left;
	margin: 25px 20px 0 20px;
}
.next
{
	float: left;
	margin-top: 25px;
}
.carousel-nav  
{
	float: left;
	width: 140px;
	height: 90px;
	margin-bottom: 40px;
	background-color: #89bb22;
}
a#home-next
{
	display: inline-block;
	float: left;
	width: 70px;
	height: 70px;
	margin-top: 25px;
	margin-left: 45px; 
	background-image: url('../images/home_arrow.png');
    background-repeat: no-repeat; 
}
a#home-next.hover_effect
{
	background-position: left bottom;
}
a#testimonials-prev
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_left.png');
    background-repeat: no-repeat;
}
a#testimonials-next
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_right.png');
    background-repeat: no-repeat;
}
a#testimonials-prev.hover_effect, a#testimonials-next.hover_effect
{
	background-position: left bottom;
}
.home .list_carousel
{
	width: 385px;
	background-color: #17242A;
	opacity: .85;
	filter:alpha(opacity=85);
	padding: 20px 60px 20px 20px;
	border-radius: 0 120px 120px 0;
	-webkit-border-radius: 0 120px 120px 0;
}
ul#home-slides li  
{
	padding-bottom: 10px;
	font-size: 34px;
	letter-spacing: -0.03em;
	line-height: 34px;
	font-family: 'open_sanslight'; 
	text-align: left;
	color: #fff;
}
.services .list_carousel
{
	border-top: 10px solid #dde8ea; 
	border-left: 10px solid #dde8ea;
	border-right: 10px solid #dde8ea;
}
ul#testimonials-slides li
{
	padding: 20px 30px 30px 30px;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 15px;
	line-height: 32px;
	text-align: left;
	font-style: italic;
	color: #83999d;
}
.testimonials
{
	float: left;
	width: 200px;
	height: 70px;
	font-size: 14px;
	line-height: 70px;
	letter-spacing: -0.03em;
	background-color: #646b6b;
	color: #ecf1f2;
}
span.span-testimonials
{
	display: block;
	margin: 0 auto;
	width: 85px;
	font-family: 'open_sansregular';
}
.testimonials-signature
{
	float: right;
	line-height: 22px;
	color: #646B6B;
	margin-top: 20px;
}
a#bios-prev
{
	display: inline-block;
	border: 0;
	margin-left: 0px !important;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_left.png');
    background-repeat: no-repeat;
}
a#bios-next
{
	display: inline-block;
	border: 0;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_right.png');
    background-repeat: no-repeat;
}
a#bios-prev.hover_effect, a#bios-next.hover_effect
{
	background-position: left bottom;
}

/*#endregion*/


/*#region SUBSCRIBE */

#subscriberEmail
{
	float: left;
	width: 350px;
	margin-top: 0;
	padding-top: 21px;
	padding-bottom: 20px;
	font-size: 14px;
	letter-spacing: 0em;
	text-indent: 15px;
    color: #9b9b9b;
	border: none;
	border-top: 10px solid #2c3739;
	border-left: 10px solid #2c3739;
	border-bottom: 10px solid #2c3739;
	outline: none;
	-moz-border-radius: 0em; /* Firefox */
	-webkit-border-radius: 0em; /* Safari, Chrome */
	border-radius: 0em; /* CSS3 */
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	box-shadow: inset 3px 3px 10px 3px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 3px 3px 10px 3px rgba(0, 0, 0, .4);
}
#subscriberEmail:focus {
	border-color: #2a7ca2;
	color: #272F31;
	box-shadow: none;
	-webkit-box-shadow:none;
}
#subscribeButton
{
	float: left;
	width: 75px;
	height: 77px;
	font-size: 14px;
	letter-spacing: 0em;
	line-height: 78px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #2a7ca2;	
	border: none;
	outline: none;
	cursor: pointer;
}
#subscribeButton.hover-effect
{
	background-color: #20607d;	
}
.subscribe .one-half
{
	letter-spacing: -0.03em;
	line-height: 28px;
	font-size: 24px;
	color: #c0db89;
	text-align: left;
}
.subscribe p
{
	float: left;
	font-size: 12px;
	color: #99aaae;
	padding-left: 25px;
	margin-bottom: 0px;
}
.subscribe .one-half > span {
	
}
#display 
{
	float: left;
	margin-left: 20px;
	width: 200px;
	height: 30px;
	text-align: left;
	font-size: 12px;
	line-height: 30px;
	color: #ad1a8c;
}

/*#endregion*/


/*#region PORTFOLIO */

ul#filterOptions 
{
	margin-bottom: 35px;
	text-align: center;
}
ul#filterOptions li 
{
	display: inline-block;
	margin-top: 20px;  
}
ul#filterOptions li a 
{
	display: block;
	margin-right: 25px;
	height: 34px;
	font-size: 11px;
	line-height: 34px;
	letter-spacing: 0.15em;
	font-family: 'open_sansbold';
	color: #4f6367;
	text-decoration: none;
}
ul#filterOptions li.last a 
{
	margin-right: 0px;
}
ul#filterOptions li a:hover 
{  
}
ul#filterOptions li.active a 
{
	border-bottom: 10px solid #dde8ea; 
}
ul.gallery
{
	height: auto;
}
ul.gallery li.item 
{
	position: relative;
	float: left; 
	width: 240px;
	height: 180px;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.03em;
	font-family: 'open_sansregular';
	text-align: left; 
	color: #f6f6f6;
	overflow: hidden; 
}
ul.gallery li.item.portfolio-text
{
	background-color: #2b7ca2;
}
.portfolio-wrapper
{
	padding: 10%;
}
.signature-wrapper
{
	padding-top: 9%;
}
.portfolio-quote
{
	display: inline-block;
	margin-left: -6%;
	width: 42px;
	height: 29px;
	background-image: url(../images/portfolio_quote.png);
	/* Firefox */
	-moz-background-size: auto 100%;
	/* WebKit */
	-webkit-background-size: auto 100%;
	/* Opera 9.5+, later Google Chrome */
	background-size: auto 100%;
}
.portfolio-signature
{
	display: inline-block;
	float: right;
	padding-top: 10px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'open_sansitalic';
	color: #194a61;
}
.inline-text
{
	padding: 30px 30px 0 30px;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.03em;
	font-family: 'open_sansregular'; 
	text-align: left;
	color: #4F6367;
}

/*#endregion*/


/*#region THUMBNAIL HOVER */

.item-overlay 
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 11px;
	background-color: #ac1a8b;
    z-index: 120;
}
.item-overlay a.preview 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/zoom.png) center center no-repeat;
	text-indent: -9999px;
    z-index: 110;
}
.item-overlay a.preview_video 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/video.png) center center no-repeat;
	text-indent: -9999px;
    z-index: 110;
}

/*#endregion*/


/*#region NEWS */

a#news-prev
{
	display: inline-block;
	margin-left: 0px !important;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_left.png');
    background-repeat: no-repeat;
}
a#news-next
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('../images/about_arrow_right.png');
    background-repeat: no-repeat;
}
a#news-prev.hover_effect, a#news-next.hover_effect, a.read-more.hover_effect
{
	background-position: left bottom;
}
.news h2.hover_effect
{
	color: #5d7728;
}
.news h2
{
	cursor: pointer;
}
a.read-more
{
	display: inline-block;
    height: 20px;
	width: 26px;
	background-image: url('../images/news_arrow.png');
    background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 15px;
}

/*#endregion*/


/*#region MILESTONES */

/*.milestones-list img
{
	display: block;
	float: left;
	padding-top: 15px;
}
span.span-number
{
	font-size: 100px;
	line-height: 100px;
	color: #e95b37;
}
span.span-milestones
{
	display: block; 
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.03em;
	color: #4f6367;
}
.milestones-wrapper
{
	width: 222px;
	float: left;
}
ul.milestones-list
{
}
ul.milestones-list li        
{
	clear: both;
	margin-bottom: 50px;
}*/

/*#endregion*/


/*#region BACKGROUND IMAGES */

.network {
	background-image: url('../images/network.jpg');
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

/*#endregion*/


/*#region CONTACT */

.contact p
{
	margin-bottom: 30px;
}
.contact-form .sides {
	padding-top: 10px;
	background: #17242A;
	background: rgba(23, 36, 42, .85);
}
.contact-form p
{
	margin-bottom: 10px;
    color: White;
    padding-left: 20px;
}
span.span-contact-form
{
	display: block;
}
/*.contact-form label
{
    display: block;
	margin-left: 5px;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.03em;
	color: #8b999d;		
}
.contact-form input[type=text], .contact-form textarea {
	display: block;
	width: 100%;
	background-color: #D8D8D8;
	color: #272f31;
	text-indent: 15px;
    font-size: 14px;
    border: none;
	outline: none;
	padding-top: 20px;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
	border-radius: 7px;
	-webkit-border-radius:7px;

  -webkit-transition: all 0.2s ease; 
     -moz-transition: all 0.2s ease; 
       -o-transition: all 0.2s ease; 
          transition: all 0.2s ease; 

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid transparent;

}
.contact-form input[type=text]
{	
    margin-bottom: 3px;
	padding-bottom: 20px;
}
.contact-form textarea
{	
	text-indent: 0;
	padding: 8px;
    height: 140px;
    margin-bottom: 11px;
	font-family: 'Open Sans', sans-serif, Arial;
	line-height: 14px; 
	overflow: auto;
	resize: none;
}
.contact-form input[type=text]:hover, .contact-form textarea:hover {
	background: #EBEBEB;
	border-color: #9CB9C5;
}
.contact-form input[type=text]:focus, .contact-form textarea:focus {
	background: #EBEBEB;
	box-shadow: none;
	-webkit-box-shadow:none;
	border: 1px solid #2a7ca2;
}
.submit-btn
{
	display: inline-block;
    float: right;
	height: 55px;
	padding: 0 25px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 55px;
	text-decoration: none;
	background-color: #2a7ca2;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}
.submit-btn:hover
{
	background-color: #20607d;
}
#mail-message 
{
	width: 200px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	color: #f05c45;
}*/

/*#endregion*/


/*#region FOOTER */

footer
{
	text-align: center;
}
footer p
{
	padding-top: 40px;
	color: #516367;
}
.socio_contact 
{
	width: 170px;	
	margin: 0 auto;
}
.socio_contact ul 
{
	line-height: normal;  
}
.socio_contact ul li 
{
	float: left;
	margin-right: 11px;
}
.socio_contact ul li.last 
{
	margin-right: 0px;
}
.socio_contact ul li a
{	
    display: block;
    height: 33px;
    width: 33px;

  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 

}
.socio_contact ul li a:active
{
    background-position: left bottom;
}
.socio_contact ul li a:hover 
{
	 background-position: left bottom;
}
a.socio_contact_twitter {background: transparent url('../images/contact_twitter_icon.png') no-repeat;}
a.socio_contact_facebook {background: transparent url('../images/contact_facebook_icon.png') no-repeat;}
a.socio_contact_linkedin {background: transparent url('../images/contact_linkedin_icon.png') no-repeat;}
a.socio_contact_google-plus {background: transparent url('../images/contact_google-plus_icon.png') no-repeat;}

/*#endregion*/


/*#region POPUPS */

.hidden
{
	display: none;
}
.modal 
{
	width: 790px;
	z-index: 99999; 
}
.popup-close
{
	display: block;
	position: absolute;
	width: 75px;
    height: 80px;
	right: -75px;
	top: 50px;
    overflow: hidden;
	cursor: pointer;
}
.popup-close .image-holder
{
	position: relative;
	width: 75px;
	height: 80px;
    overflow: hidden;
}
article .article-content
{
	
    padding: 50px 50px 25px 50px;
	background-color: #fff;
	color: #999999;
}
article .article-content h1
{
	margin-bottom: 30px;
	width: 100%;
	font-family: 'Open Sans', sans-serif, Arial;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: -0.03em;
	font-family: 'open_sansbold';
	color: #2b7ca2;
}
article .article-content h2
{
	margin-top: 45px;
	margin-bottom: 35px;
	padding: 5px 0 5px 25px;
	font-family: 'Open Sans', sans-serif, Arial;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.03;
	line-height: 24px;
	color: #2b7ca2;
	border-left: 10px solid #2b7ca2;
}
article .article-content ul {
	padding:0 55px 0 30px;
    display: inline-block;
    vertical-align: top;
}
article .article-content ul li {
    font-size: 14px;
    font-family: 'open_sanssemibold';
    line-height: 28px;
    color: #4F6367;
}
img.top-round
{
	width: 100%;
	height: auto;
	/* CSS3 */
	border-radius: 3px 3px 0 0;
	/* Safari, Chrome */
	-webkit-border-radius: 3px 3px 0 0;
	/* Firefox */
	-moz-border-radius: 3px 3px 0 0;
}
.ow-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #424242;
	opacity: 0.9;
	z-index: 10000;
}
.ow-closed {
	display: none;
}
iframe
{
	width: 100%;
}
div.vimeo
{
	background-color: #f0f0f0;
}

/*#endregion*/


/*#region MARGINS */

.m-top-30 {
	margin-top: 30px;
}
.m-top-45
{
	margin-top: 45px;
}
.m-top-50
{
	margin-top: 50px;
}
.m-top-60
{
	margin-top: 60px;
}
.m-top-75
{
	margin-top: 75px;
}
.m-top-115
{
	margin-top: 115px;
}
.m-top-220
{
	margin-top: 220px;
}
.m-top-260
{
	margin-top: 260px;
}
.m-bottom-10
{
	margin-bottom: 10px;
}
.m-bottom-20
{
	margin-bottom: 20px;
}
.m-bottom-25
{
	margin-bottom: 25px;
}
.m-bottom-30
{
	margin-bottom: 30px;
}
.m-bottom-40
{
	margin-bottom: 40px;
}
.m-bottom-45
{
	margin-bottom: 45px;
}
.m-bottom-60
{
	margin-bottom: 60px;
}
.m-bottom-75
{
	margin-bottom: 75px;
}
.m-bottom-100
{
	margin-bottom: 100px;
}

/*#endregion*/