<article class="hidden modal">
	<div class="article-content">
		<h1>.Net Developer/Application Programmer</h1>
		<p>
            <span class="span-italic">Candidates must be able to successfully pass a background investigation that would allow them access to classified information.</span>
        </p>
        <h2>Position Summary:</h2>
        <p>
			iMapData is seeking an experienced .NET developer to participate in the design, implementation, and maintenance of advanced system integration applications.
		</p>
        <p>
            The developers on this project are an innovative team, who are responsible for creating high performing applications that help intelligence and law enforcement analysts quickly analyze high volumes of data, and make important decisions based on their findings.
        </p>
        <p>
            iMapData is looking for a creative and experienced software developer to add to our team.
        </p>
        <h2>Location:</h2>
		<p>
			Ft. Meade, MD
		</p>
        <h2>Skills & Requirements</h2>
        <ul>
            <li>BS in a technical field or demonstrated equivalent working experience.</li>
            <li>5-10 yrs. experience working on projects that utilize the .NET Architecture.</li>
            <li>10 yrs. experience with Object Oriented Design and Programming proficiency in C#.</li>
            <li>5 yrs. experience with and understanding of T-SQL and the MS SQL Server RDBMS.</li> 
            <li>3 yrs. System Administration experience a plus.</li>
	    </ul>
        <h2>Compensation & Benefits</h2>
        <ul>
            <li>Compensation: Consistent with market and candidate experience.</li>
            <li>Benefits: Standard Health, Vision, 401k, Life and Disability Insurance programs.</li>
        </ul>
    </div>
</article>