<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_03-11.jpg" alt="Real estate" />
	<div class="article-content">
		<h1>iMapData’s iLocate system wins prestigious da Vinci Award for Innovation</h1>
		<p>
			CHICAGO, IL. – March 2011
		</p>
		<p>
			iMapData was awarded Jones Lang LaSalle’s prestigious da Vinci Award for Innovation in 2011. iLocate -- iMapData’s groundbreaking real estate site selection and relocation tool – was recognized by JLL for outstanding technological innovation.  iLocate features a synergy of people, data and technology that supports the JLL team as they continue to deliver integrated services built on market insight, sound research and relevant market knowledge.
		</p>			
	</div>
</article>