<article class="hidden modal">
    <img src="/PWS/images/news/news_07-12.jpg" class="top-round" alt="Seedlings garden"/>
	<div class="article-content">
		<h1>Frontier Capital completes growth investment in iMapData</h1>
		<p>MCLEAN, VA. – July 2012</p>
		<p>
			 Frontier Capital is pleased to announce its investment in iMapData Inc. (“iMapData”), a decision support solution company serving the government and commercial markets.
		</p>
		<p>
			Based in McLean, Virginia, iMapData provides a turnkey software-as-a-service (SaaS) platform to drive business and operational decisions through the visualization and analysis of a variety of proprietary, public, licensed, and customer-provided data. The iMapData platform aggregates over 1,000 data layers, including geospatial, industry, and social media information, and currently serves government agencies including the military, law enforcement organizations, operations centers, and large commercial organizations.
		<p>
			The company will continue to be led by founders Larry DeFranco, President and CEO, Diane DeFranco, COO, and Bill Lilley, Chairman. Frontier’s $15 million investment provided liquidity for investors and growth capital to support the company’s continued expansion.
		</p>
		<p>
			<span class="span-italic">
			“iMapData’s core competencies are well-aligned with a number of attractive growth opportunities,” said Andrew Lindner, Managing Partner of Frontier Capital. “We’re excited to partner with Larry, Diane, and Bill to expand upon the success that iMapData has experienced in enabling its customers to carry out mission-critical tasks."
			</span>
		</p>
		<p>
			<span class="span-italic">
			“Our partnership with Frontier enables iMapData to expand its offerings which combine the best data with leading technology,” said Larry DeFranco. “We are particularly excited that Andrew and his team bring outstanding knowledge and resources to continue our growth."
			</span>
		</p>
		<p>
			The iMapData investment builds on Frontier’s long-standing expertise in technology enabled business services. The transaction closed on June 30, 2012 and marks the fourth platform in Frontier’s Fund III and 31st investment since 1999. Sagent Advisors, LLC served as financial advisor to iMapData.
		</p>
	</div>
</article>