<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_02-11.jpg" alt="Real estate" />
	<div class="article-content">
		<h1>iMapData presents ground-breaking new iLocate tool at Jones Lang LaSalle Academy</h1>
		<p>
			BALTIMORE, MD. – February 2011
		</p>
		<p>
			iMapData, a leading provider of web-based solutions for the public and private sector, worked with Jones Lang LaSalle (JLL) to develop a <span class="span-italic">“game-changing”</span> commercial real estate tool to support and expand business opportunities for this global provider of real estate services. The joint project – dubbed iLocate – was introduced to the JLL top achievers at the 2011 JLL Academy in Phoenix, Arizona.  iLocate features a synergy of people, data and technology that will support the JLL team as they continue to deliver integrated services built on market insight, sound research and relevant market knowledge.
		</p>			
	</div>
</article>