<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_02-12.jpg" alt="Fireworks" />
	<div class="article-content">
		<h1>iMapData celebrates its 30th anniversary</h1>
		<p>MCLEAN, VA. – February 2012</p>
		<p>
			For three decades iMapData has provided its clients with geospatially powered solutions that successfully merge data and technology for faster, more accurate decision making.  Using iMapData’s web-based applications, clients easily correlate their information with the company’s vast library of cleaned and regularly updated data to clarify complex scenarios and reach actionable conclusions. Each iMapData solution is uniquely tailored to the client’s needs, incorporating the most relevant geospatial data sets and analytical functionality to deliver meaningful results. For more information, call (866) 650-4627 or visit www.imapdata.com/#contact
		</p>			
	</div>	
</article>