<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_01-12_2-05032013.jpg" alt="Snow blizzard" />
	<div class="article-content">
		<h1>Washington State implemented its Energy Disruption Tracking Tool</h1>
		<p>PULLMAN, WA. - January 2012</p>
		<p>
			During January’s major snow storm, the state of Washington implemented its iMapData designed Energy Supply Disruption Tracking System (WAESDTS) to successfully report on energy outages throughout the state. The iMapData solution was first activated during the snowstorm crisis in the Pacific Northwest in January 2012. The energy disruption data for the Washington utility service areas was dynamically updated in real time, providing a collaborative geographic perspective for state administrators. 
		</p>
		<p>
			WASESDTS improved information sharing among the many state power entities through its common operating picture and ease of use. The customized reporting impacted communication to and from the Governor’s office, providing up-to‐date, actionable intelligence for power companies and state officials. It was used for tracking and reporting on electric outages throughout the state.  A second phase of the system, integrating oil and natural gas energy information, is currently being implemented
		</p>		
	</div>
</article>