<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_01-12-05032013.jpg" alt="Computer monitor displaying IMS8" />
	<div class="article-content">
		<h1>iMapData announces iMap8</h1>
		<p>
			MCLEAN, VA. – January 2012
		</p>
		<p>
			iMapData released a revolutionary update to its solution – a complete redesign of the site with a new portfolio of advanced technology tools. iMap8 includes the Microsoft Bing base map, improved graphics, enhanced imagery options, and new features such as heat maps. iMapData is now fully functional on mobile browsers.
		</p>			
	</div>
</article>