<article class="hidden modal">
	<img class="top-round" src="/PWS/images/news/news_08-11.jpg" alt="HTML code" />
	<div class="article-content">
		<h1>iMapData developing an Energy Disruption Tracking Tool for the State of Washington</h1>
		<p>
			MCLEAN, VA. – August 2011
		</p>
		<p>
			iMapData is currently user-testing their electrical outage input tool designed for internal reporting of energy disruptions during an emergency.
		</p>			
	</div>	
</article>