<article class="hidden modal">
	<div class="article-content">
		<h1>Products We License</h1>
		<ul>
			<li>Threat Management</li>
			<li>Custom Alert Feeds</li>
			<li>Industry Data Feeds</li>
			<li>Advocacy Tool</li>
			<li>Mapping Center</li>
		</ul>
		<ul>
			<li>Mobile Communications</li>
			<li>Mobile Collection</li>
			<li>Social Analytics</li>
			<li>Energy Disruption Tracker</li>
		</ul>			
	</div>	
</article>