<article class="hidden modal">
	<div class="article-content">
		<h1>Industries We Support</h1>
		<p>
			<ul>
				<li>Defense</li>
				<li>Public Safety</li>
				<li>Corporate Security</li>
				<li>Advocacy</li>
				<li>Real Estate</li>
			</ul>
        </p>			
	</div>	
</article>