<article class="hidden modal">
	<div class="article-content">
		<h1>Data We Provide</h1>
		<p>
            <ul>
	            <li>Agriculture</li>
	            <li>Businesses</li>
	            <li>Economics</li>
	            <li>Emergency Management</li>
	            <li>Energy</li>
	            <li>Finance</li>
	            <li>Global</li>
            </ul>
            <ul>
	            <li>Government</li>
	            <li>Health Care</li>
	            <li>Law Enforcement</li>
	            <li>Maritime</li>
	            <li>Media</li>
	            <li>Military</li>
	            <li>Political</li>
            </ul>
            <ul>
	            <li>Public Safety</li>
	            <li>Religion</li>
	            <li>Socio-Demographics</li>
	            <li>Taxes/Regulations</li>
	            <li>Transportation</li>
	            <li>Water</li>
            </ul>
        </p>
	</div>	
</article>